
<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a href="http://" target="_blank" rel="noopener noreferrer" id="logo" class="active link-selection" routerLink="/main">
        Product
        <span id="storeheader">
          Store
        </span>
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active navcollaps link-selection" routerLink="/main" href="/main">Home <span class="sr-only">(current)</span></a>
          <!-- created data count  -->
          <a class="nav-item nav-link navcollaps link-selection" data-counter="5" id="count"  routerLink="/shoppingcart" href="/shopping-cart">Shopping Cart</a>
          <a class="nav-item nav-link navcollaps link-selection" routerLink="/sales" href="/sales">Sales</a>
          <a class="nav-item nav-link navcollaps link-selection" routerLink="/products" href="/products">products</a>
          <!-- <a class="nav-item nav-link navcollaps link-selection" routerLink="/products">Products</a> -->
          <a class="nav-item nav-link navcollaps link-selection"  routerLink="/login"  href="/login">Login</a>
        </div>
      </div>
    </nav>
    
 </header>

 <div class="banner-center">
   <p>PRODUCTS!</p> 
</div>   

<div class="container">
  <!-- gaming console -->
  <section class="sections">
    <a href="http://">
     <span class="category">Console</span>
    </a>
    <div class="wrapper">
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/new/Microsoft - Xbox Series S 512 GB All-Digital Console (Disc-Free Gaming) - White" alt="Microsoft - Xbox Series S 512 GB All-Digital Console (Disc-Free Gaming) - White" >
        
        <div class="info">
          <h1>Microsoft - Xbox Series S 512 GB All-Digital Console (Disc-Free Gaming) - White</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/new/Microsoft - Xbox Series X 1TB Console - Black" alt="Microsoft - Xbox Series X 1TB Console - Black" >        
        <div class="info">
          <h1>Microsoft - Xbox Series X 1TB Console - Black</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/new/Nintendo - Switch – OLED Model Splatoon 3 Special Edition" alt="Nintendo - Switch – OLED Model Splatoon 3 Special Edition" >    
        <div class="info">
          <h1>Nintendo - Switch – OLED Model Splatoon 3 Special Edition</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/new/Nintendo - Switch 32GB Lite - Blue" alt="Nintendo - Switch 32GB Lite - Blue" > 
        <!-- Nintendo - Switch 32GB Lite - Blue    -->
        <div class="info">
          <h1>Nintendo - Switch 32GB Lite - Blue</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/new/Sony - PlayStation 4 1TB Console - Black" alt="Sony - PlayStation 4 1TB Console - Black" > 
        <!--Sony - PlayStation 4 1TB Console - Black    -->
        <div class="info">
          <h1>Sony - PlayStation 4 1TB Console - Black</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/new/Sony - PlayStation 5 Console" alt="Sony - PlayStation 5 Console" > 
        <!-- Sony - PlayStation 5 Console    -->
        <div class="info">
          <h1>Sony - PlayStation 5 Console</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/used/2 WIRELESS CONTROLLERS Sony PS2 Game System Gaming Console PLAYSTATION-2 Black" alt="2 WIRELESS CONTROLLERS Sony PS2 Game System Gaming Console PLAYSTATION-2 Black" > 
        <!-- 2 WIRELESS CONTROLLERS Sony PS2 Game System Gaming Console PLAYSTATION-2 Black -->
        <div class="info">
          <h1>2 WIRELESS CONTROLLERS Sony PS2 Game System Gaming Console PLAYSTATION-2 Black</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/used/Microsoft XBox 360 E System BLACK Video Game Console 4GB Wireless Bundle 360E" alt="Microsoft XBox 360 E System BLACK Video Game Console 4GB Wireless Bundle 360E" > 
        <!-- Microsoft XBox 360 E System BLACK Video Game Console 4GB Wireless Bundle 360E -->
        <div class="info">
          <h1>Microsoft XBox 360 E System BLACK Video Game Console 4GB Wireless Bundle 360E</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/used/Microsoft Xbox Console plus 2 Controllers" alt="Microsoft Xbox Console plus 2 Controllers" > 
        <!-- Microsoft Xbox Console plus 2 Controllers -->
        <div class="info">
          <h1>Microsoft Xbox Console plus 2 Controllers</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->.
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <!-- <div class="sale-banner">SALE</div> -->
        <img src="../assets/gaming console/used/Nintendo Wii Console" alt="Nintendo Wii Console" > 
        <!-- Nintendo Wii Console -->
        <div class="info">
          <h1>Nintendo Wii Console</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <img src="../assets/gaming console/used/Nintendo Wii U System Console" alt="Nintendo Wii U System Console" > 
        <!-- Nintendo Wii Console -->
        <div class="info">
          <h1>Nintendo Wii U System Console</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card"   onclick="xbox()">
        <img src="../assets/gaming console/used/Sony Playstation 3 Console FAT Original Controller PS3" alt="Sony Playstation 3 Console FAT Original Controller PS3" > 
        <!-- Sony Playstation 3 Console FAT Original Controller PS3 -->
        <div class="info">
          <h1>Sony Playstation 3 Console FAT Original Controller PS3</h1>
          <!-- <p>Lorem ipsum dolor sit amet co sit.</p>

          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      
      
    </div>
  </section>

  <!-- gaming console games -->
  <section class="sections">
    <a href="http://">
    <span class="category">Games</span>
    </a>
    <div class="wrapper">
      <div class="card">
        <img src="../assets/games/new/Blaze and the Monster Machines Axle City Racers" alt="Blaze and the Monster Machines Axle City Racers">
        <div class="info">
          <h1>Blaze and the Monster Machines Axle City Racers</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/used/Batman Arkham City Game of the Year Edition.jpeg" alt="Batman Arkham City Game of the Year Edition">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Batman Arkham City Game of the Year Edition</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->.
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/used/Burnout 3 Takedown.png" alt="Burnout 3 Takedown">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Burnout 3 Takedown</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/used/Call of Duty Modern Warfare Trilogy" alt="Call of Duty Modern Warfare Trilogy">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Call of Duty Modern Warfare Trilogy</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/used/Deadpool.jpeg" alt="Call of Duty Modern Warfare Trilogy">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Deadpool</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/new/Pokemon Scarlet" alt="Pokemon Scarlet">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Pokemon Scarlet</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/new/Pokemon Violet" alt="Pokemon Violet">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Pokemon Violet</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/new/Paw Patrol On A Roll" alt="Paw Patrol On A Roll">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Paw Patrol On A Roll</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/new/Dragon Ball Z Kakarot" alt="Dragon Ball Z Kakarot">
        <div class="info">
          <!-- src/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Dragon Ball Z Kakarot</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/new/Pj Masks: Heroes of The Night" alt="Pj Masks: Heroes of The Night">
        <div class="info">
          <!-- srmasks: c/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Pj Masks: Heroes of The Night</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/used/Mario Kart" alt="Mario Kart">
        <div class="info">
          <!-- srmasks: c/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Mario Kart</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/used/Minecraft" alt="Minecraft">
        <div class="info">
          <!-- srmasks: c/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Minecraft</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/used/Snoopy's Grand Adventure" alt="Snoopy's Grand Adventure">
        <div class="info">
          <!-- srmasks: c/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Snoopy's Grand Adventure</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/games/digital/Halo Infinite Standard Edition - Windows, Xbox One, Xbox Series S, Xbox Series X [Digital].jpg" alt="Halo Infinite Standard Edition - Windows, Xbox One, Xbox Series S, Xbox Series X Digital">
        <div class="info">
          <!-- srmasks: c/assets/games/used/Batman Arkham City Game of the Year Edition.jpeg -->
          <h1>Halo Infinite Standard Edition - Windows, Xbox One, Xbox Series S, Xbox Series X Digital</h1>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>      
    </div>
  </section>

  <!-- shoes -->
  <section class="sections">
    <a href="http://">
      <span class="category">Shoes</span>
    </a>
    <div class="wrapper">
      <div class="card">
        <img src="../assets/shoes/Air Jordan 1 Retro High OG Lucky Green.jpg" alt="Air Jordan 1 Retro High OG Lucky Green" >
        <div class="info">
          <h1>Air Jordan 1 Retro High OG Lucky Green</h1>
          <p>$180.00</p>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <a href="http://">
        <img src="../assets/shoes/Crocs Men's and Women's Bayaband Clogs | Slip On Shoes | Waterproof Sandals.png" alt="Crocs Men's and Women's Bayaband Clogs">
        <div class="info">
          <h1>Crocs Men's and Women's Bayaband Clogs</h1>
          <p>$54.95</p>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
          <!-- <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Keen 1016581 Womens Targhee Ii Mid Waterproof Hiking Hiking Boots Ankle Low.jpg" alt="Keen 1016581 Womens Targhee Ii Mid Waterproof Hiking Hiking Boots Ankle Low">
          <div class="info">
            <h1>Keen 1016581 Womens Targhee Ii Mid Waterproof Hiking Hiking Boots Ankle Low</h1>
            <p>$144.95</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/adidas Originals LA Trainer Lite Shoes Kids'.jpg " alt="adidas Originals LA Trainer Lite Shoes Kids">
          <div class="info">
            <h1>Adidas Originals LA Trainer Lite Shoes Kids</h1>
            <p>$55.00</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Columbia Womens Green Ankle Boots.jpg" alt="Columbia Womens Green Ankle Boots">
          <div class="info">
            <h1>Columbia Womens Green Ankle Boots</h1>
            <p>$31.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Kids Native Jefferson Size C8 Silver Glitter Girls Shoes Child Slip On.jpg" alt="Kids Native Jefferson Size C8 Silver Glitter Girls Shoes Child Slip On">
          <div class="info">
            <h1>Kids Native Jefferson Size C8 Silver Glitter Girls Shoes Child Slip On</h1>
            <p>$31.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Nike Jordan 6 Rings Black Gym Red Mens.jpg" alt="Nike Jordan 6 Rings Black Gym Red Mens">
          <div class="info">
            <h1>Nike Jordan 6 Rings Black Gym Red Mens</h1>
            <p>$134.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/OshKosh B'Gosh TODDLER GIRLS EVERPLAY SANDALS SHOES.jpg" alt="OshKosh B'Gosh TODDLER GIRLS EVERPLAY SANDALS SHOES.jpg">
          <div class="info">
            <h1>OshKosh B'Gosh TODDLER GIRLS EVERPLAY SANDALS SHOES</h1>
            <p>$15.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/PUMA Men's Axelion Refresh Running Shoes.jpg" alt="PUMA Men's Axelion Refresh Running Shoes">
          <div class="info">
            <h1>PUMA Men's Axelion Refresh Running Shoes</h1>
            <p>$25.60</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/PUMA Rebound LayUp Mid Sneakers Big Kids.jpg" alt="PUMA Rebound LayUp Mid Sneakers Big Kids">
          <div class="info">
            <h1>PUMA Rebound LayUp Mid Sneakers Big Kids</h1>
            <p>$35.00</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Reebok Men's Classic Leather Shoes.jpg" alt="Reebok Men's Classic Leather Shoes">
          <div class="info">
            <h1>Reebok Men's Classic Leather Shoes</h1>
            <p>$29.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Reebok Workout Plus Men's Shoes.jpg" alt="Reebok Workout Plus Men's Shoes">
          <div class="info">
            <h1>Reebok Workout Plus Men's Shoes.jpg</h1>
            <p>$29.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Women's Bridget Combat Boots - A New Day.jpg" alt="Women's Bridget Combat Boots - A New Day">
          <div class="info">
            <h1>Women's Bridget Combat Boots - A New Day</h1>
            <p>$29.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/shoes/Wonder Nation Girls Unicorn Slippers Slip On Shoes Purple.jpg" alt="Wonder Nation Girls Unicorn Slippers Slip On Shoes Purple">
          <div class="info">
            <h1>Wonder Nation Girls Unicorn Slippers Slip On Shoes Purple</h1>
            <p>$7.48</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
    </div>
  </section>
  
  <!-- clothes -->
  <section class="sections">
    <a href="http://">
      <span class="category">Clothes</span>
    </a>
    <div class="wrapper">
      <div class="card">
        <a href="http://">
        <img src="../assets/clothes/Calvin & Hobbes Cross The River Funny Unisex.jpg" alt="">
        <div class="info">
          <h1>Calvin & Hobbes Cross The River Funny Unisex.</h1>
          <p>$</p>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
        </div>
      </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/clothes/Doublju Women's Empire Seam Sleeveless Maxi Dress with Pockets.jpg" alt="">
          <div class="info">
            <h1>Doublju Women's Empire Seam Sleeveless Maxi Dress with Pockets</h1>
            <p>$</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Nike Pro Girl's Shirt 939077.jpg" alt="">p
          <div class="info">
            <h1>Nike Pro Girl's Shirt</h1>
            <p>$</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Adidas Tiro 19 Boy's Training Soccer Pants Gray Black Unisex fk0929.jpg" alt="Adidas Tiro 19 Boy's Training Soccer Pants Gray Black Unisex fk0929">
          <div class="info">
            <h1>Adidas Tiro 19 Boy's Training Soccer Pants Gray Black Unisex fk0929</h1>
            <p class="price">$36.00</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Dickies Boys Classic Fit Flat Front Straight Leg Pants KP123.png" alt="Dickies Boys Classic Fit Flat Front Straight Leg Pants KP123">
          <div class="info">
            <h1>Dickies Boys Classic Fit Flat Front Straight Leg Pants KP123</h1>
            <p class="price">$46.00</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/CQR Men's Tactical Pants, Water Resistant Ripstop Cargo Pants, Khaki.png" alt="CQR Men's Tactical Pants, Water Resistant Ripstop Cargo Pants, Khaki">
          <div class="info">
            <h1>CQR Men's Tactical Pants, Water Resistant Ripstop Cargo Pants, Khaki</h1>
            <p class="price">$43.98</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/CQR Men's Tactical Pants, Water Resistant Ripstop Cargo Pants, Khaki.png" alt="CQR Men's Tactical Pants, Water Resistant Ripstop Cargo Pants, Khaki">
          <div class="info">
            <h1>CQR Men's Tactical Pants, Water Resistant Ripstop Cargo Pants, Khaki</h1>
            <p class="price">$43.98</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/DOUBLJU Women's V-Neck Cap Sleeve Waist Wrap Front Maxi Dress.jpg" alt="DOUBLJU Women's V-Neck Cap Sleeve Waist Wrap Front Maxi Dress">
          <div class="info">
            <h1>DOUBLJU Women's V-Neck Cap Sleeve Waist Wrap Front Maxi Dress</h1>
            <p class="price">$16.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/DOUBLJU Women's V-Neck Cap Sleeve Waist Wrap Front Maxi Dress.jpg" alt="DOUBLJU Women's V-Neck Cap Sleeve Waist Wrap Front Maxi Dress">
          <div class="info">
            <h1>DOUBLJU Women's V-Neck Cap Sleeve Waist Wrap Front Maxi Dress</h1>
            <p class="price">$16.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Fox Racing Jersey Youth.jpg" alt="Fox Racing Jersey Youth">
          <div class="info">
            <h1>Fox Racing Jersey Youth</h1>
            <p class="price">$23.50</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Funny Legosaurus Legos Saurus kid boy girl T-Shirt.jpg" alt="Funny Legosaurus Legos Saurus kid boy girl T-Shirt">
          <div class="info">
            <h1>Funny Legosaurus Legos Saurus kid boy girl T-Shirt</h1>
            <p class="price">$16.91</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Girls’ FRIENDS T-shirt.jpg" alt="Girls’ FRIENDS T-shirt">
          <div class="info">
            <h1>Girls’ FRIENDS T-shirt</h1>
            <p class="price">$15.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Gymboree Woodland Friends Girls Brown Shirt.jpg" alt="Gymboree Woodland Friends Girls Brown Shirt">
          <div class="info">
            <h1>Gymboree Woodland Friends Girls Brown Shirt</h1>
            <p class="price">$45.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Johnny Was Pants Celestin French Terry Joggers Floral Black Pant .jpg" alt="Johnny Was Pants Celestin French Terry Joggers Floral Black Pant">
          <div class="info">
            <h1>Johnny Was Pants Celestin French Terry Joggers Floral Black Pant</h1>
            <p class="price">$198.00</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Levi's Girl's Youth Denizen Regular Fit Straight Leg Denim Blue Jeans Pants.jpg" alt="Levi's Girl's Youth Denizen Regular Fit Straight Leg Denim Blue Jeans Pants">
          <div class="info">
            <h1>Levi's Girl's Youth Denizen Regular Fit Straight Leg Denim Blue Jeans Pants</h1>
            <p class="price">$198.00</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Lipsy Velvet V Neck Velvet Long Sleeve Dress Ladies Bodycon Cocktail Party Maxi.jpg" alt="Lipsy Velvet V Neck Velvet Long Sleeve Dress Ladies Bodycon Cocktail Party Maxi">
          <div class="info">
            <h1>Lipsy Velvet V Neck Velvet Long Sleeve Dress Ladies Bodycon Cocktail Party Maxi</h1>
            <p class="price">$35.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <!-- <p>ps5</p> -->
          <img src="../assets/clothes/Nike Men's Joggers Club Fleece Athletic Tapered Drawstring Training Track Pants.jpg" alt="Nike Men's Joggers Club Fleece Athletic Tapered Drawstring Training Track Pants">
          <div class="info">
            <h1>Nike Men's Joggers Club Fleece Athletic Tapered Drawstring Training Track Pants</h1>
            <p class="price">$60.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/clothes/Nike Pro Girl's Shirt 939077.jpg" alt="Nike Pro Girl's Shirt 939077">
          <div class="info">
            <h1>Nike Pro Girl's Shirt 939077</h1>
            <p class="price">$20.97</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/clothes/Oaki Boys Girls Black Rain Pants.jpg" alt="Oaki Boys Girls Black Rain Pants">
          <div class="info">
            <h1>Oaki Boys Girls Black Rain Pants</h1>
            <p class="price">$34.99</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
    </div>
    <div class="card">
      <a href="http://">
        <img src="../assets/clothes/Phase Eight Stunning Floral, Maxi dress.jpg" alt="Phase Eight Stunning Floral, Maxi dress">
        <div class="info">
          <h1>Phase Eight Stunning Floral, Maxi dress</h1>
          <p class="price">$151.60</p>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </a>
      </div>
      <div class="card">
        <a href="http://">
          <img src="../assets/clothes/Polarn O Pyret Rain Pants 110 116 4 Years 6 Years Green Sweden European Gear Kid.jpg" alt="Polarn O Pyret Rain Pants 110 116 4 Years 6 Years Green Sweden European Gear Kid">
          <div class="info">
            <h1>Polarn O Pyret Rain Pants 110 116 4 Years 6 Years Green Sweden European Gear Kid</h1>
            <p class="price">$46.00</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
            <button class="addCart">Add to Cart</button>
          </div>
        </a>
    </div>
    <div class="card">
      <a href="http://">
        <img src="../assets/clothes/Taekwondo Grandma Funny Unisex.jpg" alt="Taekwondo Grandma Funny Unisex">
        <div class="info">
          <h1>Taekwondo Grandma Funny Unisex</h1>
          <p class="price">$25.00</p>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
          <button>Read More</button> -->
          <button class="addCart">Add to Cart</button>
        </div>
      </a>
    </div>
    </div>
  </section>
</div>

<footer>
  <div class="social">
    <h4 class="social-text">Social Links</h4>
    <ul class="ul-social">
      <li><a href="http://www.linkedin.com/in/jarelsandersjs">
        <img src="../../../assets/linkedin.png" alt="" class="footerIcons"></a></li>
      <li><a href="http://github.com/JarelSanders"><img src="../../../assets/github-mark-white.png" alt="" class="footerIcons"></a></li>
      <!-- <li> 
        <a href="mailto:jarelsanders1986@gmail.com">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="200" fill="currentColor" class="footerIcons" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
        </a>
      </li> -->
    </ul>
  </div>

  <h6>Created by Jarel Sanders. &copy; 2024</h6>
    
</footer>