<p>shopping-cart works!</p>
<div class="container">
    <div class="left-div">
        <div class="inner-left">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus iure officia perspiciatis ipsam libero necessitatibus architecto quaerat possimus natus incidunt aut ullam pariatur ab, vel amet ad eum illum deserunt.</p>
        </div>
        <div class="inner-right">
            <p class="Shopping_cost">Subtotal $<span class="cost_calculation">{{subtotal}}</span></p>
            <p class="Shopping_cost">Tax (7%) $<span class="cost_calculation">{{tax}}</span></p>
            <p class="Shopping_cost">Shipping $<span class="cost_calculation">{{shipping}}</span></p>
            <input type="button" value="Checkout" class="submit">
        </div>
    </div>
    <!-- <div class="right-div">
        <div class="break"></div>
    </div> -->
</div>
<!-- <div class="left-div"></div>
<div class="right-div"></div> -->