/* header */
header{
    background-color: var(--header);
    margin-top: -10px;
    margin-bottom: 5px;
}

.navbar{
  position: relative;
  background-color: var(--header);

}

.navbar.fixed-top {
  position: fixed;
  top: 0;
}


.navcollaps{
    color: var(--fontcolor) !important;
}
.link-selection{
    display: flex;
    justify-content: center;
}
.link-selection:hover{
    background: blue;
}
header a{
    text-decoration: none;
    color: var(--fontcolor);
}

#logo{
    font-weight: bolder;
    font-size: 1.3em;
    padding-left: 8px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

#storeheader{
    color: blue;
    font-size: 1.3rem;
}

.custom-toggler.navbar-toggler {
    background-color: blue;
}


/* changing header image */
.section_top{
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    background-image: url('/assets/sale/sale.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    animation: change 20s 5 ease-in-out;
    margin-bottom: -50px;
}

.content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}

.container {
  border: 5px solid red;
  background-color: var(--header) ;
  border-radius: 50px;
  border: 5px solid var(--fontcolor);
  overflow: hidden;
}

.left-div {
  height: 40vh;
}

/* cart item customer added to cart */
.cart_item {
  display: block;
  border: 3px solid rgba(230, 221, 221, 0.102);
  border-radius: 5px;
}

/* the description of each item */
.item_desc {
  width: 80%;
  float: left;
  margin-top: 3px;
  line-height: 2em;
  padding-right: 1em;
  padding-left: 1em;
  padding: 0.2em 1em 0 1em;
}

/* the image for each item_desc */
img {
  height: 5vh;
  margin-top: 9px;
  height: 13vh;
  margin-left: -10px;
}


/* qucntity input field */
.quantity {
  width: 10%;
  margin-right: 10%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* remve button */
.remove {
  margin-right: 1%;
  margin-left: -9.2px;
  background-color: red;
  color: var(--fontcolor);
  font-weight: bolder;
  border-radius: 30px;
}

.totalmultipler{
  margin-left: 5%;
}

.cost_calculation {
  float: right;
  margin-left: -50em;
}
.item {
  margin-left: 5%;
  padding-top: 30px;
  width: 80vw;
  padding-left: 23px;
}

.itm_amount {
  margin-right:5%;
}

.x {
  margin-right: 5%;
}

/* totals subtotal, tax, shipping, grand  and checkout */
.totals {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 3px solid rgba(230, 221, 221, 0.102);
  padding-top: 6px;
  right: 1em;
  width: 50%;
  border-top: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

/* submut changes */
.submit {
  background-color: green;
  color: var(--fontcolor);
  border-radius: 15px;
  width: 20%;
  /* font: ; */
}


/* footer */
footer{
  background: var(--header);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.9rem;
}

@media all and (width > 992px) {
  #logo:hover{
    background-color: inherit;
  }
  #navbarNavAltMarkup{
    justify-content: center;
  }

  .nav-link{
    margin-left: 50px;
  }

  .container{
    margin-top: 100px;
    width: 55%;
    border-radius: 30px;

  }

  .wrapper {
    gap: 2%;
    grid-auto-columns: 43%;
    scroll-snap-type: x mandatory;
  
  }

  .card{
    scroll-snap-align: start;
  }

  .sections{
    border-radius: 30px;
    border-top: 5px solid var(--bordercolor);
  }

  .category{
    margin-left: 60px;

  }
}