
<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a href="http://" target="_blank" rel="noopener noreferrer" id="logo" class="active link-selection" routerLink="/main">
        Product
        <span id="storeheader">
          Store
        </span>
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active navcollaps link-selection" routerLink="/main"  href="/main">Home <span class="sr-only">(current)</span></a>
          <!-- created data count  -->
          <a class="nav-item nav-link navcollaps link-selection" data-counter="5" id="count"  routerLink="/shoppingcart" href="/shopping-cart">Shopping Cart</a>
          <a class="nav-item nav-link navcollaps link-selection" routerLink="/sales" href="/sales">Sales</a>
          <a class="nav-item nav-link navcollaps link-selection" routerLink="/products" href="/products">products</a>
          <!-- <a class="nav-item nav-link navcollaps link-selection" routerLink="/products">Products</a> -->
          <a class="nav-item nav-link navcollaps link-selection"  routerLink="/login"  href="/login">Login</a>
        </div>
      </div>
    </nav>
    
 </header>
  
<div class="banner-center">
   <p>SALE!</p> 
</div>    

<div class="sale-container">
   <!-- gaming console -->
  <section class="sections">
    <a href="http://">
      <span class="category">Console</span>
    </a>
    <div class="wrapper">
      <div class="card">
        <img src="../assets/gaming console/used/2 WIRELESS CONTROLLERS Sony PS2 Game System Gaming Console PLAYSTATION-2 Black" alt="">
         <div class="info">
            <h1>Playstation 2</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <img src="../assets/gaming console/new/Microsoft - Xbox Series X 1TB Console - Black" alt="" >
          <div class="info">
            <h1>Xbox Series X 1TB</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <a href="http://">
          <img src="../assets/gaming console/new/Microsoft - Xbox Series S 512 GB All-Digital Console (Disc-Free Gaming) - White" alt="">
          <div class="info">
            <h1>Xbox Series S 512 GB</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </a>
        </div>
        <div class="card">
          <a href="http://">
            <img src="../assets/gaming console/used/Nintendo Wii Console" alt="">
            <div class="info">
              <h1>Nintendo Wii</h1>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
              <button>Read More</button> -->
            </div>
          </a>
        </div>
        <div class="card">
          <a href="http://">
            <p>ps5</p>
            <img src="../assets/gaming console/new/Sony - PlayStation 4 1TB Console - Black" alt="">p
            <div class="info">
              <h1>PlayStation 4 1TB</h1>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
              <button>Read More</button> -->
            </div>
          </a>
        </div>  
        
      </div>
    </section>
  
    <!-- gaming console games -->
    <section class="sections">
      <a href="http://">
      <span class="category">Games</span>
      </a>
      <div class="wrapper">
        <div class="card">
          <img src="../assets/games/new/Blaze and the Monster Machines Axle City Racers" alt="">
          <div class="info">
            <h1>Blaze and the Monster Machines Axle City Racers</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <img src="../assets/games/used/Call of Duty Modern Warfare Trilogy" alt="" >
          <div class="info">
            <h1>Call of Duty Modern Warfare Trilogy</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <a href="http://">
          <img src="../assets/games/new/Pokemon Violet" alt="">
          <div class="info">
            <h1>Pokemon Violet</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </a>
        </div>
        <div class="card">
          <a href="http://">
            <img src="../assets/games/used/Burnout 3 Takedown.png" alt="">
            <div class="info">
              <h1>Burnout 3 Takedown.png</h1>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
              <button>Read More</button> -->
            </div>
          </a>
        </div>
        <div class="card">
          <a href="http://">
    
          <img src="../assets/games/new/Pokemon Scarlet" alt="">p
          <div class="info">
            <h1>Pokemon Scarlet</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </a>
        </div>  
      </div>
    </section>
  
    <!-- shoes -->
    <section class="sections">
      <a href="http://">
        <span class="category">Shoes</span>
      </a>
      <div class="wrapper">
        <div class="card">
          <img src="../assets/shoes/adidas Originals LA Trainer Lite Shoes Kids'.jpg" alt="">
          <div class="info">
            <h1>adidas Originals LA Trainer Lite Shoes Kids</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <img src="../assets/shoes/Air Jordan 1 Retro High OG Lucky Green.jpg" alt="" >
          <div class="info">
            <h1>Air Jordan 1 Retro High OG Lucky Green</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <a href="http://">
          <img src="../assets/shoes/Crocs Men's and Women's Bayaband Clogs | Slip On Shoes | Waterproof Sandals.png" alt="">
          <div class="info">
            <h1>Crocs Men's and Women's Bayaband Clogs</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p> -->
            <!-- <button>Read More</button> -->
          </div>
        </a>
        </div>
        <div class="card">
          <a href="http://">
            <img src="../assets/shoes/Keen 1016581 Womens Targhee Ii Mid Waterproof Hiking Hiking Boots Ankle Low.jpg" alt="">
            <div class="info">
              <h1>Keen 1016581 Womens Targhee Ii Mid Waterproof Hiking Hiking Boots Ankle Low</h1>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
              <button>Read More</button> -->
            </div>
          </a>
        </div>
        <div class="card">
          <a href="http://">
            <p>ps5</p>
          <img src="../assets/shoes/Reebok Workout Plus Men's Shoes.jpg" alt="">p
          <div class="info">
            <h1>Reebok Workout Plus Men's Shoes</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </a>
        </div>  
      </div>
    </section>
    
    <!-- clothes -->
    <section class="sections">
      <a href="http://">
        <span >Clothes</span>
      </a>
      <div class="wrapper">
        <div class="card">
          <img src="../assets/clothes/Dickies Men's Work Pants Skinny Straight Fit, Tech Pocket, Double Knee.jpg" alt="">
          <div class="info">
            <h1>Dickies Men's Work Pants Skinny Straight Fit, Tech Pocket, Double Knee</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <img src="../assets/clothes/Funny Legosaurus Legos Saurus kid boy girl T-Shirt.jpg" alt="" >
          <div class="info">
            <h1>Funny Legosaurus Legos Saurus kid boy girl T-Shirt</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </div>
        <div class="card">
          <a href="http://">
          <img src="../assets/clothes/Calvin & Hobbes Cross The River Funny Unisex.jpg" alt="">
          <div class="info">
            <h1>Calvin & Hobbes Cross The River Funny Unisex.</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
            <button>Read More</button> -->
          </div>
        </a>
        </div>
        <div class="card">
          <a href="http://">
            <img src="../assets/clothes/Doublju Women's Empire Seam Sleeveless Maxi Dress with Pockets.jpg" alt="">
            <div class="info">
              <h1>Doublju Women's Empire Seam Sleeveless Maxi Dress with Pockets</h1>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
              <button>Read More</button> -->
            </div>
          </a>
        </div>
        <div class="card">
          <a href="http://">
            <p>ps5</p>
            <img src="../assets/clothes/Nike Pro Girl's Shirt 939077.jpg" alt="">p
            <div class="info">
              <h1>Nike Pro Girl's Shirt</h1>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nesciunt ea voluptates nihil vel suscipit rerum explicabo animi hic, ipsum magnam earum. Iusto quo impedit porro numquam, sunt sit.</p>
              <button>Read More</button> -->
            </div>
          </a>
      </div>       
    </div>
  </section>
</div>

<footer>
  <div class="social">
    <h4>Social Links</h4>
    <ul class="ul-social">
      <li><a href="http://www.linkedin.com/in/jarelsandersjs">
        <img src="../../../assets/linkedin.png" alt="" class="footerIcons"></a></li>
      <li><a href="http://github.com/JarelSanders"><img src="../../../assets/github-mark-white.png" alt="" class="footerIcons"></a></li>
      <li> 
        <a href="mailto:jarelsanders1986@gmail.com">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="200" fill="currentColor" class="footerIcons" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <h6>Created by Jarel Sanders. &copy; 2024</h6>
    
</footer>