<!-- <p>sign-up works!</p> -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a href="http://" target="_blank" rel="noopener noreferrer" id="logo" class="active">
        Product
        <span id="storeheader">
          Store
        </span>
      </a>
      <button class="navbar-toggler custom-toggler a" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active navcollaps link-selection"  href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link navcollaps link-selection" routerLink="/shoppingcart">Shopping Cart</a>
          <a class="nav-item nav-link navcollaps link-selection" routerLink="/sales">Sales</a>
          <!-- <a class="nav-item nav-link navcollaps link-selection" routerLink="/products">Products</a> -->
          <a class="nav-item nav-link navcollaps link-selection"  routerLink="/login/">Login</a>
        </div>
      </div>
    </nav>
    
</header>
<div class="login-container">
  <h1>Sign up</h1>
  <p id="input-error"></p>
  <div class=" login-contents">
    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <!-- <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required [(ngModel)]="signupObj.email" name="email"> -->
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required [(ngModel)]="signupObj.email" name="email">
        <div id="message2"></div>
         <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" minlength="8" maxlength="18" required [(ngModel)]="signupObj.password" name="'password" autocomplete="on">
        <small class="form-text text-muted">Password has to be between 8 - 18 characters</small>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Repeat password</label>
          <input type="password" class="form-control" id="confirm_password" placeholder="Repeat password" minlength="8" maxlength="18" required [(ngModel)]="signupObj.repeatpassword" name="repeatpassword" autocomplete="on">
        <div id="message"></div>
        </div>
      <div class="form-check d-flex justify-content-center mb-2" id="terms">
        <input class="form-check-input me-2" type="checkbox" value="" id="checkbox" required/>
        <label class="form-check-label" for="form2Example3">
          I agree all statements in <a href="http://" target="_blank" rel="noopener noreferrer" required>Terms of service</a>
        </label>
      </div>
      <div class="form-check">
        <button type="submit" class="btn btn-primary" (click)="signUp()">Sign up</button>
      </div>
    </form>
  </div>      
</div>