
/* header */
header{
  
    background-color: var(--header);
    margin-top: -10px;
    margin-bottom: 5px;
}

.navbar{
  position: relative;
      background-color: var(--header);

}

.navbar.fixed-top {
  position: fixed;
  top: 0;
}

.navcollaps{
    color: var(--fontcolor) !important;
}

.link-selection{
    display: flex;
    justify-content: center;
}
.link-selection:hover{
    background: blue;
}

header a{
    text-decoration: none;
    color: var(--fontcolor);
}

#logo{
    font-weight: bolder;
    font-size: 1.3em;
    padding-left: 8px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

#storeheader{
    color: blue;
    font-size: 1.3rem;
}

.custom-toggler.navbar-toggler {
    background-color: blue;
}


/* changing header image */
.section_top{
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    background-image: url('/assets/sale/sale.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    animation: change 20s 5 ease-in-out;
    margin-bottom: -50px;
}

.content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}


#imgContainer{
  margin-top: 50px;
  height: 70vh;
  width: 70vw;
  margin-left: 15%;
  position: relative;
  
}

#topDivWallpaper{
  height: 70vh;
  width: 70vw;
  position: absolute;
  top: 0;
  left: 0;
}


#shppingIcom{
  height: 70vh;
  width: 70vw;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  object-fit: cover;
  display: block;
}

.a img{
    border: 5px solid blue;
    height: 350px;
    margin: 0;
    padding: 0px;
    background-size: cover;    
}

#count::before{
  content: attr(data-counter);
}

.sections{

    margin: 20px 0;
}

section a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

a{
  color: var(--header);
  font-weight: bolder;
}

li  > a{

  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.section-items-container{
  height: 250px;
}


.snap-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snap-inline > * {
  scroll-snap-align:  start;
}

@keyframes change
  {
  0%{
    background-image: url('/assets/games/new/Dragon\ Ball\ Z\ Kakarot');
  }
  20%{
    background-image: url('/assets/games/used/Burnout\ 3\ Takedown.png');
  }
  40%{
    background-image: url('/assets/gaming console/used/Nintendo Wii Console');
  }
  60%{
    background-image: url('/assets/sale/sale.jpg');
  }
} 
 
.wrapper {
  display: grid;
  width: 100%;
  gap: 35%;
  overflow-x: auto;
  overflow-y: hidden;
  grid-auto-flow: column;
  grid-auto-columns: 43%;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  max-height: fit-content;
}
  
.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  scroll-snap-align: start;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}


.sale-banner{
  z-index: 1;
  left: -100%;
  border: 2px solid black;
  background-color: red;
  color: black;
}

.card:hover {
  transform: translateY(20px);
}

.sale-banner:hover::before{
  border: 5px solid red;
  width: 15%;
  color: red;
}

.card:hover:before {
  opacity: 1;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card .info h1 {
  margin: 0px;
  font-size: 1.1rem;
  width:250px;
  margin: 0 auto;
  opacity: 100%;
  text-align: center;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.card .info button:hover {
  background: dodgerblue;
  color: white;
}

li a{
  color: blue;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 2.1;
}

a span{
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* footer */
footer{
  background: var(--header);
  align-content: center;
}

h6{
  position: relative;
  bottom: 21px
}

.footerIcons{
  height: 9vh ;
  width: 17vw;
  margin-top: 12px;
  margin-right: 18px;
}

.contact{
  width: 50%;
   height: 100%;
   float: left;
}

.social *{
  display: flex;
  justify-content: center;
  width: 50%;
  /* height: 100%; */
  /* margin-top: 25px; */
  /* margin-left: 25%; */
  text-align: center;
  /* padding-right: auto; */
  
}

.social-text{
    margin-left: 490px;
    /* border: 5px solid yellow; */

}

.social img{
  /* border: 2px solid white; */
  /* padding-right: -500px !important; */
  /* height: 100px;
  width: 106px */
  /* border: 5px solid yellow; */
  
  height: 50px;
  width: 50px;
  padding-right: -200px;
}


.ul-social{
  /* border: 5px solid green;
  margin-right: -90px; */
  margin-left: 900px;
  width: 300px !important;
  /* border: 5px solid red; */

}






























@media all and (width > 992px) {
  #logo:hover{
    background-color: inherit;
  }
  #navbarNavAltMarkup{
    justify-content: center;
  }

  .nav-link{
    margin-left: 50px;
  }

  
  .container{
    margin-top: 100px;
    width: 55%;
    border-radius: 30px;

  }

  .wrapper {
    gap: 2%;
    grid-auto-columns: 43%;
    scroll-snap-type: x mandatory;
  }

  .card{
    scroll-snap-align: start;
  }

  .sections{
    border-radius: 30px;
    border-top: 5px solid var(--bordercolor);
  }

  .category{
    margin-left: 60px;
  }
}